.blend--difference {
  mix-blend-mode: difference;
}
.shrinkable-img {
  transition: height .2s cubic-bezier(0.25, 0.8, 0.5, 1);
  cursor: pointer;
}
.v-card__text {
  .text__image {
    text-align: center;

    img {
      max-width: 70%;
      align-self: center;
    }
  }
}
.v-card__title { padding-left: 0 !important }
.v-card__subtitle { padding-left: 0 !important }
.box {
  border: 1px solid gray;
  padding: 20px 50px 20px 50px;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
}
.video {
  margin: 20px;
  text-align: center;
  
  iframe {
    max-width:100%;
  }
}
.footer {
  a {
    text-decoration: none;
  }
}
.boxed--text {
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding-left: 10px; 
  padding-right: 10px; 
}